<form style="padding:20px" [formGroup]="userForm"
      (ngSubmit)="onSubmit()">

  <p>
    New Talk form
  </p>

  <div *ngIf="condicion;else nocumplido">Condicion Cumplida</div>

  <ng-template #nocumplido>Condición no se cumpla</ng-template>

  <div #elemento>algo</div>


  <div *ngIf="!descriptionControl.valid && !descriptionControl.pristine"
       style="background-color: red">
    Descripcion invalido!

    {{descriptionControl.errors | json}}
  </div>

  <div>
    <label for="title">Title of the talk</label>
    <input type="text" id="title" name="title" [formControl]="userForm.controls.title"
    >
  </div>

  <div>
    <label for="description">Description of the talk</label>
    <input type="text" id="description" name="description"
           [formControl]="descriptionControl"
           required minlength="30">
  </div>

  <button type="submit" [disabled]="userForm.invalid">Send talk!</button>

</form>
